* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body {
	font-family: sans-serif;
	color: #4b09e7;
	font-size: 24px;
	height: 100vh;
	width: auto;
	text-align: center;
	font-weight: bold;
	display: grid;
	/* grid system with 4 columns and 2 rows */
	grid-template-columns: 80px 250px 2fr 150px;
	grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
	padding-top: 24px;
}
nav {
	background-color: #57ccf3;
	/* span navbar from row 1 to the end */
	grid-row: 1 / -1;
}
menu {
	background-color: #57ccf3;
	/* background-color: #add8e6; */
	/* span menu from column 2 to the end */
	grid-column: 2 / -1;

	display: flex;
	align-items: center;
	gap: 40px;
	padding: 0 40px;
}
button {
	/* inline-block does not add a line-break after the element, so the element can sit next to other elements. */
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	background-color: #4b09e7;
	border: none;
	cursor: pointer;
	color: white;
	padding: 8px 12px;
}
button:last-child {
	background-color: #c08af3;
	/* margin-left: auto will move element all the way to the right */
	margin-left: auto;
	color: #4b09e7;
	font-size: 16px;
}
section {
	background-color: #82d3ee;
	padding: 40px;
	/* overflow scroll in flex box item will shrink its children */
	overflow: scroll;
	/* display children vertical instead of horizontal by default of flex */
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.email {
	background-color: #4b09e7;
	color: white;
	/* turn off auto shrink from parent */
	flex-shrink: 0;
	height: 72px;
	/* flexbox to treat children inside this div */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
aside {
	background-color: #c08af3;
}
